apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: recipe-share

resources:
  - ../../base
  - nodeport-services.yaml

# Local development patches
patches:
  # Reduce resource limits for local development
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "200m"
    target:
      kind: Deployment
      name: api
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "200m"
    target:
      kind: Deployment
      name: web

commonLabels:
  environment: local
