---
# NodePort for direct access (without Ingress)
apiVersion: v1
kind: Service
metadata:
  name: api-nodeport
  namespace: recipe-share
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - port: 4000
      targetPort: 4000
      nodePort: 30400
---
apiVersion: v1
kind: Service
metadata:
  name: web-nodeport
  namespace: recipe-share
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
